
*{
	box-sizing: border-box;
}


body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('bank.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
	
}


.fix{
	
	overflow: hidden;
}

header{
	overflow: hidden;
	height: 23vh;
}





.nav-area{
	background: rgba(0,0,0,0.9);
    height: 48px;
	position: absolute;
	width: 100%;
}

.logo{
	margin: 0 50px;
	height: 65px;
	float: left;
	color: #fff;
	font-size: 35px;
	text-transform: capitalize;
	font-weight: bold;
	letter-spacing: 1px;
}	


.logo span{
	color: #FDFF00;
	
}

.menu-area {
	float: right;
	list-style: none;
	margin: 20px;
	
}

.menu-area li{
	display: inline-block;
	
}

.menu-area li a{
	text-decoration: none;
	color: #fff;
	padding: 10px ;
	letter-spacing: 10px;
	word-spacing: 2px;
}

.menu-area li.active a{
	color: #f5bb00;
}

.menu-area li a:hover{
	background: #6CDAE7;
	color: #fff;
}

.banner-text{
	position: absolute;
	top: 40%;
	text-align: center;
	left: 12%;;
	
}

.banner-text h2{
	color: #fff;
	font-size: 60px;
	margin: 0;
	
}

.banner-text h2 span{
	color:rgb(255,255,0,1.0);
}

.banner-text p{
	color: rgba(0,255,255,1.0);
	font-size: 28px;
	margin: 0;
	font-weight: bold;
}


footer {
	position: fixed;
	padding: 10px 0;
	font-size: 17px;
	text-align: center;
	bottom: 0;
	background: #000204;
	color: #9d9d9d;
	width: 100%;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 250px;
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 14px;

}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding: 8px;
  text-align: center;
  background-color: aqua;
  color: white;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
	font-size: 14px;
}

 

 
 
 
 
 
 
 
 
 
 
 
 
 